@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ebebeb;
    position: relative;
    font-family: "Poppins",  serif;
    
}

body::-webkit-scrollbar{
    color: transparent;
    background-color: transparent;
    width: 0;
}

a, li{ list-style: none; text-decoration: none; font-size: .8rem; font-weight: 600;  color: #353535; }

.line{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cacaca;
    text-align: center;
    margin: 0 auto;
    width: 80vw;
    height: 1px;
}

.home{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 1.5rem 0;
    width: 100vw;
}

.logo img{
    width: 100px;
    transition: all .3s;
}

.home nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home nav li:hover{
    opacity: 0.65;
}


.social_icon{
    display: flex;
    align-items: center;
    cursor: pointer;

}

.social_icon p{
    background-color: #353535;
    color: #ebebeb;
    font-weight: lighter;
    font-size: .8rem;

    padding: 4px 10px;
    margin-right: 8px;
    margin-bottom: 2px;
}

.social_icon i{
    color: #353535;
    font-size: 1.5rem;

}

.social_icon i:hover{
    opacity: 0.65;
}

/* =========================================== ABOUTME */

.aboutme-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 2rem 0;
}

.aboutme{
    padding: 5rem;
}

.aboutme h2{
    text-align: center;
    margin-top: 4rem;
}


.aboutme .aboutme-txt{
    max-width: 280px;
}

.aboutme .aboutme-txt p{
    text-align: justify;
}

.aboutme img{
    width: 360px;
}

/* =========================================== APRENDIZADO1, 2 ,3 */

.aprendizado1{
    background-color:  #ebebeb;

}

.aprendizado2{
    background-color: #ebebeb;

}

.aprendizado3{
    background-color: #ebebeb;
       
}

h2{
    position: relative;
    color: #353535;
    letter-spacing: 4px;
    cursor: pointer;

}


.aprendizado1,
.aprendizado2,
.aprendizado3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 0;
    width: 100vw;
    
}

.container-artes1,
.container-artes2,
.container-artes3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
    gap: 4rem;
    flex-wrap: wrap;
    
}

.container-artes3 span img{
    width: 400px;
}


.container-artes1 span,
.container-artes2 span,
.container-artes3 span{

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    max-width: 28vw;
    min-width: 450px;
    height: 250px;
    margin: 4rem 1rem;

    cursor: pointer;
    transition: all .4s;
}

.img-hover img{
    width: 400px;
    
}

.img-hover span:hover{
    transform: scale(1.03);
}


/* =========================================== FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353535;
    width: 100%;
    height: 80px;
    margin-bottom: -200px;
}

footer span{
    font-weight: bold;
}

/* ======================================= MEDIA MOBILE MENU */

.menu-burguer{
    display: none;
    font-size: 2rem;
}

.menu-mobile{
    position: absolute;

    display: none;
    align-items: flex-start;
    flex-direction: column;

    background-color: #ebebeb;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
    color: #353535;
    height: 100vh;
    width: 45%;
    top: 100%;
    left: 0;
    
    
    transition: all .5s;
    
}


.menu-mobile .mobile-txt li a{
    font-size: 1rem;
    margin-left: 2rem;

}

.mobile-txt{
    width: 100%;
}

.menu-mobile .mobile-txt li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5%;
    width: 100%;
    padding: 1rem 0;
    cursor: pointer;
    
    
}

.menu-mobile .mobile-txt li:hover{
    background-color: #dadada;
    
}


@media screen and (max-width: 767px) {
    .menu-burguer{
        display: flex;
    }

    .open.menu-mobile{
        display: flex;
        
    }

    .home nav{
        display: none;
    }

    .social_icon p{
        display: none;
    }

    .logo img{
        width: 90px;

    }
    .aboutme{
        padding: 5rem;
    }

    .about{
        margin-bottom: -4rem;
    }
    

    .aboutme .aboutme-txt{
        max-width: 300px;
        font-size: 0.9rem;
    }
    
    .aboutme img{
        width: 250px;
    }

    .aboutme-container{
        flex-direction: column-reverse;
        margin-top: 4rem;
    }

    .aprendizado1,
    .aprendizado2,
    .aprendizado3{
        overflow: hidden;
        width: 100%;
    }

    .aprendizado1 .container-artes1,
    .aprendizado2 .container-artes2,
    .aprendizado3 .container-artes3{
        display: flex;
        flex-wrap: nowrap; 
        overflow-x: auto; 
        scroll-behavior: smooth;
        white-space: nowrap;
        padding: 4rem 0;
        width: 100%;
    }


}

